h1{
    text-align:center
}

.items{
    /* position:absolute; */
    /* display:flex;
    justify-content: center; */
    margin-left: 33%
}

.items2{
    /* position:absolute; */
    /* display:flex;
    justify-content: center; */
    margin-left: 19.7%
}